  <div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 style= "color:tomato;">NOT FOR PUBLIC USE v0.9</h2>
    <p><strong>Single use vs Preservative free</strong><br><br>
GHG equivalent = 0.006 kg of CO2 per gram of plastic.
We assume each single use droppers weights 1g<br>
The preservative free dropper weights 6.5g<br>
Source:<br>

https://www.library.sath.nhs.uk/research/2024/12/24/environmental-and-financial-impacts-of-perioperative-paracetamol-use-a-multicentre-international-life-cycle-assessment-2024/<br><br>
<strong>Oral Solution vs Tablet/capsule</strong><br><br>
We assume that each g of oral solution produces 0.151 g of GHG CO2 eq, and each g of tablet/capsule 0.038<br>
In order to calculate the GHG content, we calculate how many grams of the active principle there are in the oral solution<br>
as the concentrations are in mg and we want grams, hence the 1000.<br>
Volume/(1000/(Concentration/5))<br><br>

<strong>RTA bag vs Tablet/capsule</strong><br><br>
We assume that each g of RTA bag produces 0.31 g of GHG CO2 eq, and each g of tablet/capsule 0.038<br>
As the bags have a dose of active principle in a volume, this is simple, we divide the dose by 1000 to obtain the amount of grams in each bag<br>

<strong>IV vial vs Tablet/capsule</strong><br><br>
We assume they are made of glass, so each g of IV vial produces 0.63 g of GHG CO2 eq, and each g of tablet/capsule 0.038<br>
Divide the quantitative composition by 1000 to obtain the amount in grams per vial </p>
  </div>

</div>
